
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Cat Studio - Contact</title>
    <link rel="stylesheet" href="../public/css/contact_styles.css">
</head>

<body>
    <!-- Navigation Section -->
    <nav>
        <div class="container">
            <h1></h1>
            <ul>
                <li><a class="neon-button neon-pink" href="index.html">Services</a></li>
                <li><a class="neon-button neon-blue" href="shop.html">Merch</a></li>
                <li><a class="neon-button neon-pink" href="donation.html">Donate</a></li>
                <li><a class="neon-button neon-blue" href="contact.html">Contact</a></li>
                <li><a class="neon-button neon-pink" href="vlog.html">Vlog</a></li>

            </ul>
        </div>
    </nav>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have a question or inquiry? Fill out the form below or contact us directly via email.</p>
            <!-- Add contact form here -->
        </div>
    </section>

    <script src="public/js/script.js"></script>
</body>

</html>
