<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Cat Studio - Donation</title>
    <link rel="stylesheet" href="../public/css/donation_styles.css">
</head>

<body>
    <!-- Navigation Section -->
    <nav>
        <div class="container">
            <h1></h1>
            <ul>
                <li><a class="neon-button neon-pink" href="index.html">Services</a></li>
                <li><a class="neon-button neon-blue" href="shop.html">Merch</a></li>
                <li><a class="neon-button neon-pink" href="donation.html">Donate</a></li>
                <li><a class="neon-button neon-blue" href="contact.html">Contact</a></li>
                <li><a class="neon-button neon-pink" href="vlog.html">Vlog</a></li>

            </ul>
        </div>
    </nav>

    <!-- Donation Section -->
    <section id="donation">
        <div class="container">
            <h2>Make a Donation</h2>
            <p>Support Thunder Cat Studio by making a donation. Enter your desired amount below:</p>
            <!-- PayPal Donation Button -->
            <form action="https://sandbox.paypal.com" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="ATjgYqlbrpZ6SQPWHYhYL-k9lp2NKK_2KeVFj4A9sP7qlb7jLKbnVWEstBwrKufHcT7Z2S3O3V1tb-5W">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0"
                    name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal">
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </section>

    <script src="public/js/script.js"></script>
</body>

</html>
