<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>purrspectivity.com</title>
    <link rel="stylesheet" href="../public/css/styles.css">

</head>
<body>
    <nav>
        <div class="container">
            <h1>Purrspectivity</h1>
            <ul>
                <li><a class="neon-button neon-pink" href="index.html">Services</a></li>
                <li><a class="neon-button neon-blue" href="shop.html">Merch</a></li>
                <li><a class="neon-button neon-pink" href="donation.html">Donate</a></li>
                <li><a class="neon-button neon-blue" href="contact.html">Contact</a></li>
                <li><a class="neon-button neon-pink" href="vlog.html">Vlog</a></li>
            </ul>
        </div>
    </nav>

    <!-- Introduction Section -->
    <div class="container">
        <p>Welcome to Purrspectivity - Your one-stop shop for all things creative!</p>
    </div>

   

    <!-- Social Media Section -->
    <div class="container">
        <h2>Follow us on social media</h2>
        <!-- Add social media buttons here -->
    </div>

    <!-- The rest of your content goes here -->

    <script src="public/js/client-side.js"></script>
</body>
</html>
