
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../public/css/shop_styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><purrspectivity class="com">purrspectivity.com</purrspectivity></title>
    
</head>

<body>
    <script src="routes/shop.js"></script>
   <nav>
        <div class="container">
            <h1></h1>
            <ul>
                <li><a class="neon-button neon-pink" href="index.html">Services</a></li>
                <li><a class="neon-button neon-blue" href="shop.html">Merch</a></li>
                <li><a class="neon-button neon-pink" href="donation.html">Donate</a></li>
                <li><a class="neon-button neon-blue" href="contact.html">Contact</a></li>
                <li><a class="neon-button neon-pink" href="vlog.html">Vlog</a></li>

            </ul>

           
        </div>
        </nav>
    </section>
